cloud-calculator-api/src/main/mule/calculator-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="calculator-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="calculator-api-config" api="api/calculator-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<api-gateway:autodiscovery apiId="18366998" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="07622045-25a7-4cb5-9948-89ec8fc86445" flowRef="calculator-api-main" />
	<flow name="calculator-api-main">
        <http:listener config-ref="calculator-api-httpListenerConfig" path="/api/*" allowedMethods="GET, PUT, POST, PATCH">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="calculator-api-config" />
		<error-handler ref="global-error-handle" />
        
    </flow>
    <flow name="put:\substraction:calculator-api-config">
        <set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="44569a03-b44f-45f4-af48-2a640b699a85" variableName="number1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="a011b2e8-55ae-412b-b8eb-cb0594644e4d" variableName="number2"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  substractionValueIs: vars.number1 - vars.number2
  }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler ref="global-error-handle" />
    </flow>
    <flow name="patch:\division:calculator-api-config">
        <set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="0fbb82aa-deaf-4030-a6e3-33380251ffd4" variableName="number1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="80703f1a-7a13-42a9-9894-6b48e709c592" variableName="number2"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  divisionValueIs: vars.number1 / vars.number2
  }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler ref="global-error-handle" />
    </flow>
    <flow name="get:\addition:calculator-api-config">
        <set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="e7963d8c-deed-417e-bed4-47e30a3b95ad" variableName="number1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="444c28cf-70eb-4ba3-944f-cd90d12c9779" variableName="number2"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  additionValueIs: vars.number1 + vars.number2
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\multiplication:calculator-api-config">
        <set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="bcc2ae09-a4ec-47eb-aa99-0a4ce58e6902" variableName="number1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="0a590744-6184-4344-a65e-8fcfc01e5e62" variableName="number2"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  multiplicationValueIs: vars.number1 * vars.number2
  }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler ref="global-error-handle" />
    </flow>
</mule>
